@mixin font-chalkboard-se-regular() {
  font-family: "Chalkboard SE", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
}

@mixin font-chalkboard-se-light() {
  font-family: "Chalkboard SE", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 200;
}

@mixin font-chalkboard-se-bold() {
  font-family: "Chalkboard SE", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 700;
}
