// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';
@import 'mixins';

.header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: $purple;

  .logo {
    position: absolute;
    top: 8px;
    left: 30px;
    height: 60px;
    width: 60px;
    background: transparent image-url('little_cooking_devil_negative.svg') no-repeat 0 0 ;
    background-size: 60px 60px;
  }

  h1 {
    position: absolute;
    width: 500px;
    left: calc(50% - 250px);
    top: 24px;
    text-align: center;
    font-size: 32px;
    color: $white;

    @include font-chalkboard-se-bold();
  }
}

.devise-form {
  display: block;
  width: 400px;
  box-sizing: border-box;
  margin-top: 100px;
  margin-left: calc(50% - 200px);

  #error_explanation {
    width: 400px;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid $error;
    border-radius: 5px;
    background-color: $light_gray;

    h2 {
      margin: 0;
      padding: 5px;
      border-bottom: none;
      background-color: $error;
      color: $white;
      font-size: 16px;
      line-height: 1.5;
    }

    ul {
      padding: 5px;
      li {
        font-size: 16px;
        list-style-position: inside;
      }
    }
  }

  h2 {
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 3px solid $purple;
    font-size: 28px;
    margin-bottom: 50px;

    @include font-chalkboard-se-bold();
  }

  .field {
    display: block;
    width: 100%;

    label {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
      font-size: 24px;
    }

    em {
      display: inline-block;
      margin-bottom: 5px;
    }

    input {
      display: block;
      height: 50px;
      width: 100%;
      margin-bottom: 50px;
      padding: 5px;
      border: 1px solid $dark_gray;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 20px;
      color: $dark_gray;

      @include font-chalkboard-se-light();

      &:hover, &:focus {
        outline: none;
        box-shadow: 0 0 10px 0 $dark_purple;
      }
    }
  }

  .field_with_errors {
    padding: 0;
    background-color: transparent;
    display: block;

    label {
      color: $error;
    }

    input {
      background-color: $light_pink;
    }

    + em {
      color: $error;
    }
  }

  .checkbox-field {
    margin: 50px 0;
    width: 100%;

    label {
      position: relative;
      padding-left: 30px;
      width: 100%;

      &:hover {
        &:before {
          box-shadow: 0 0 10px 0 $dark_purple;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 20px;
        width: 20px;
        border: 1px solid $dark_gray;
        border-radius: 3px;
        box-sizing: border-box;
      }

      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        display: none;
        height: 14px;
        width: 14px;
        box-sizing: border-box;
        border-radius: 6px;
        background-color: $purple;
      }
    }

    input {
      display: none;

      &:checked {
        + label:after {
          display: block
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    width: 100%;

    input {
      display: block;
      height: 50px;
      min-width: 250px;
      margin: 30px 0 50px;
      padding-bottom: 8px;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: $purple;
      font-size: 24px;
      color: $white;

      @include font-chalkboard-se-regular();

      &:hover, &:focus {
        outline: none;
        background-color: $dark_purple;
      }
    }
  }

  .devise-links {
    color: $dark_gray;
    line-height: 1.5;

    @include font-chalkboard-se-regular();

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}
