// COLORS

$dark_gray: #31393C;
$dark_purple: #1F0067;
$error: #D40000;
$gray: #B7B8B9;
$light_gray: #e9eaea;
$light_pink: #FDDDE6;
$pink: #D90368;
$purple: #39007D;
$white: #FFFAFA;
$yellow: #FFD400;

